<div style=" box-sizing: border-box; display: flex;  justify-content: center; align-items: center; width: 100%; height: 100%;">
    <div style="box-sizing: border-box; border: 16.5px solid #5775D0; width: 540px; height: 496px;">
        <table style="box-sizing: border-box; border-radius: 5px; position: relative;  width: 507px; background-repeat: no-repeat; ">
            <tr>
                <td style="box-sizing: border-box; font-size: 16px; font-weight: bold; z-index: 2; padding: 25px 40px 0px 40px;font-family: Arial, Helvetica, sans-serif;">
                    Olá, [NOME]!
                </td>
            </tr>
            <tr>
                <td style="box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; font-size: 16px;  width: 336px; z-index: 2; padding: 0px 40px 0px 40px;">
                    Esses são os dados atualizados para efetuar a autenticação na API Vender Mais.
                    <p style="color:red">Favor desconsiderar os dados anterires.</p>
                </td>
            </tr>
            <tr>
                <td style=" box-sizing: border-box;  z-index: 2; padding: 25px 40px 0px 40px;">
                    Usuário: [USUARIO]
                </td>
            </tr>
            <tr>
                <td style=" box-sizing: border-box;  z-index: 2; padding: 25px 40px 0px 40px;">
                    Senha: [SENHA]
                </td>
            </tr>
            <tr>
                <td style=" box-sizing: border-box; padding: 25px 40px 0px 40px; z-index: 2;font-family: Arial, Helvetica, sans-serif;">
                    Atenciosamente,
                </td>
            </tr>
            <tr>
                <td style="box-sizing: border-box; font-size: 13px; z-index: 2; padding: 0px 40px 40px 40px;font-family: Arial, Helvetica, sans-serif;">
                    S2 Holding | Todos os direitos reservados.<br>
                    Esta é uma mensagem automática. Por favor, não responda.
                </td>
            </tr>
        </table>
    </div>

</div>