@using Gestao.Application.DTO.Generic;
@model GList<Gestao.Application.DTO.Cliente.ObterClienteDTO>

@await Html.PartialAsync("../Shared/_Notification")

<div class="d-none d-sm-block">
    @await Html.PartialAsync("../Cliente/_ListDesktopPartial", Model)
</div>

<div class="d-block d-sm-none">
    @await Html.PartialAsync("../Cliente/_ListMobilePartial", Model)
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="~/js/cliente/cliente.js"></script>
